<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676854716454-g59mbfq31llff8a2i56oqufjng5be9nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676854716454-g59mbfq31llff8a2i56oqufjng5be9nj</string>
	<key>API_KEY</key>
	<string>AIzaSyCl8AWFUvFL6D9nHUxiCiARbytCoh2pxCM</string>
	<key>GCM_SENDER_ID</key>
	<string>676854716454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpDesk</string>
	<key>PROJECT_ID</key>
	<string>helpdesk-itrsgp</string>
	<key>STORAGE_BUCKET</key>
	<string>helpdesk-itrsgp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676854716454:ios:9d2feaa289c65624ca6ee7</string>
</dict>
</plist>